.container-card-service {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  padding: 5px;
}

.container-card-service:hover {
  transform: translateY(-15px);
  filter: drop-shadow(0px 20px 8px #8f8f8f);
}

.service-thumb {
  width: 100%;
  overflow: hidden;
  transition: all 1s;
}

.service-thumb img {
  width: 100%;
  border-radius: 10px;
}

.service-thumb:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 25px #8f8f8f);
}

.container-infos-services {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.container-infos-services h3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 15px;
}

.container-infos-services span {
  font-weight: 400;
  font-size: 0.85rem;
  color: #ff2b60;
  margin-left: 15px;
}

.container-infos-services p {
  font-size: 0.85rem;
  font-weight: 300;
  margin-left: 15px;
  color: #474747;
}

.container-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-price h3 {
  font-weight: 400;
  background-color: #ff2b60;
  color: #ffffff;
  padding: 8px;
  border-radius: 0.7rem;
  margin: 10px 20px 20px 0;
}
