.btn-default {
  font-size: 1rem;
  background-color: var(--color-p1);
  color: var(--color-w1);
  padding: 1.2rem;
  border-radius: 1.7rem;
  border: none;
  transition: 0.8;
  text-align: center;
  cursor: pointer;
  width: 200px;
}

.btn-default:hover {
}
