.btn-menu {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  color: var(--color-y0);
  background-color: var(--color-w1);
  border-radius: 1rem;
  border: 1px solid var(--color-y0);

  transition: 0.8;
}

.btn-menu:hover {
  font-weight: bold;

  background-color: var(--color-y1);
  color: var(--color-w1);
  border: 1px solid var(--color-w1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.363);
}
