.btn-menu {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  color: var(--color-y0);
  background-color: var(--color-w1);
  border-radius: 1rem;
  border: 1px solid var(--color-y0);

  transition: 0.8;
}

.btn-menu:hover {
  font-weight: bold;

  background-color: var(--color-y1);
  color: var(--color-w1);
  border: 1px solid var(--color-w1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.363);
}

@media (max-width: 480px) {
  .btn-menu {
    font-size: 1rem;
    height: 60px;
    padding: 0rem;
    font-size: 0.875rem;
  }
}
