@import 'tailwindcss';

@theme {
  --color-w1: #f6f5fa;
  --color-g1: #4ff4a5;
  --color-g2: #43a87b;
  --color-p1: #b351cd;
  --color-p2: #662e85;
  --color-p3: #2c0047;
  --color-b1: #3A3A3A;
  --color-b2: #474644;
  --color-y0: #E3A715;
  --color-y1: #FFBD13;
}

body {
  font-family: 'Rubik', sans-serif;
}
