@import 'tailwindcss';

@theme {
  --color-w1: #F7F3EA;
  --color-g1: #86AD44;
  --color-g2: #6B8837;
  --color-marrom-1: #462917;
  --color-marrom-2: #773A1B;
  --color-marrom-3: #ca8765;
  --color-y0: #E1B14F;
  --color-y1: #FFBD13;
  --color-y2: #F6E9C4;
}

body {
  font-family: 'Rubik', sans-serif;
}


